!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv': 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin: "anonymous"}
    %title Zagin Stamp Generator
  %body{data: {urlroot: "#{@url_root}"}}
    .container
      .navbar.navbar-default
        .container-fluid
          .navbar-header
            %a.navbar-brand{ href: '#' }
              Zagin Stamp Generator
      .row
        .col-md-6.form-horizontal
          .form-group
            %label.col-md-2.control-label{ for: 'textAreaText' } Text
            .col-md-10
              %textarea.form-control.js__image-generator-form{ id: 'textAreaText', name: 'text', placeholder: "LGTM!\n...with nits."}
                LGTM!
          .form-group
            %label.col-md-2.control-label{ for: 'selectImageName' } Base image
            .col-md-10
              %select.form-control.js__image-generator-form{ id: 'selectImageName', name: 'image_name', placeholder: "LGTM!\n...with nits."}
                - @base_image_names.each do |base_image_name|
                  %option{ value: base_image_name } #{base_image_name}
          .form-group
            %label.col-md-2.control-label{ for: 'selectFontName' } Font
            .col-md-10
              %select.form-control.js__image-generator-form{ id: 'selectFontName', name: 'font_name' }
                - @font_names.each do |font_name|
                  %option{ value: font_name } #{font_name}
          .form-group
            %label.col-md-2.control-label{ for: 'selectPattern' } Pattern
            .col-md-10
              %select.form-control.js__image-generator-form{ id: 'selectPattern', name: 'pattern' }
                - @patterns.each do |pattern|
                  %option{ value: pattern } #{pattern}
          .form-group
            %label.col-md-2.control-label{ for: 'selectSize' } Size
            .col-md-10
              %select.form-control.js__image-generator-form{ id: 'selectSize', name: 'size' }
                - @sizes.each do |size|
                  %option{ value: size } #{size}
          .form-group
            %label.col-md-2.control-label{ for: 'inputUrl' } URL
            .col-md-10
              .input-group
                %input.form-control.js__input-image-url{ id: 'inputUrl', name: 'markdown' }
                .input-group-btn
                  %button.btn.btn-default.js__clip-button{data: {'clipboard-target': '#inputUrl'}}
                    %span.glyphicon.glyphicon-copy
          .form-group
            %label.col-md-2.control-label{ for: 'inputMarkdown' } Markdown
            .col-md-10
              .input-group
                %input.form-control{ id: 'inputMarkdown', name: 'markdown' }
                .input-group-btn
                  %button.btn.btn-default.js__clip-button{ data: {'clipboard-target': '#inputMarkdown'} }
                    %span.glyphicon.glyphicon-copy

        .col-md-6
          %img.img-thumbnail.js__stamp-image-url{ src: "/top?text=sample"}
  %script{src: "https://code.jquery.com/jquery-3.1.0.min.js"}
  %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity: "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin: "anonymous"}
  %script{src: 'https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js'}
  %script{src: "/javascripts/application.js"}
